@model BlogWebApp.ViewModel.FeedbackViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-title">Edit feedback</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <hr/>
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Author, new {@class = "col-form-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Author, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Author, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Date, new {@class = "col-form-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Date, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Date, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Text, new {@class = "col-form-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Text, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Text, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary"/>
        @Html.ActionLink("Cancel", "Index", null, new {@class = "btn btn-secondary"})
    </div>
}

@Scripts.Render("~/bundles/jqueryval")