@model IEnumerable<BlogWebApp.ViewModel.Models.FeedbackViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "../Shared/_Layout.cshtml";
}

<h2 class="page-title">Feedbacks</h2>

<p>
    @Html.ActionLink("Create feedback", "Create", null, new {@class = "btn btn-success"})
</p>

@foreach (var item in Model)
{
    <div class="card border-primary mb-3">
        <div class="card-header">
            @Html.LabelFor(modelItem => item.Author, new {@class = "text-muted"})
            @Html.DisplayFor(modelItem => item.Author)


            @Html.LabelFor(modelItem => item.Date, new {@class = "text-muted", style = "margin-left:2%;"})
            @Html.DisplayFor(modelItem => item.Date)
        </div>
        <div class="card-body text-primary">
            <h4 class="card-title">@Html.DisplayFor(modelItem => item.Text)</h4>
            <p class="card-text">@Html.DisplayFor(modelItem => item.Text)</p>
        </div>
        <div class="card-footer">
            <ul class="buttons-edit-delete">
                <li>
                    @Html.ActionLink("Edit", "Edit", new {id = item.Id}, new {@class = "btn btn-primary"})
                </li>
                <li>
                    @using (Html.BeginForm("Delete", "Feedback", new {id = item.Id}))
                    {
                        @Html.AntiForgeryToken()
                        <input type="submit" value="Delete" class="btn btn-warning"/>
                    }
                </li>
            </ul>
        </div>
    </div>
}